*
{
	margin: 0px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


#header
{
	width: 100%;
	height: 100px;
	background-color: #3e3a3a78;
	border-radius: 0 0 10px 10px;
}

#header_wrap
{
	display: flex;
    justify-content: space-between;
}

#header h1
{
	font: 60px BRUSH SCRIPT MT;
	color: #563838;
	margin-top: 10px;
    margin-left: 15px;
}

#header a
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #563838;
    white-space: nowrap;
}

#footer p
{
	font: 20px BRUSH SCRIPT MT;
	color: #563838;
}

#footer
{
	display: flex;
	justify-content: flex-end;
	background-color: #3e3a3a78;
	border-radius: 10px 10px 0 0;
	padding: 20px;
}

#auth
{
	display: flex;
	align-items: center;
	margin-right: 100px;
}

#main {
	flex: 1;
	padding: 20px;
}

.line
{
	width: 50px;
	border-top: solid black 1px;
	margin: 5px;
	transition: all 550ms cubic-bezier(0.03, 1.07, 0.4, 0.99);
}

.menu_item
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #d6cfbdc9;
	height: 100px;
	width: 300px;
	margin: 4px;
	border-radius: 20px;
	transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu_item:hover .line{
width: 100px;
}


.menu_item:hover{
	background-color: #cec7b7;
}


.menu_item p
{
	text-decoration: none;
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #563838;
    white-space: nowrap;
    text-align: center;
}

#main a
{
	text-decoration: none;
}

#register_wrap
{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

#index_wrap
{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

#register_wrap h1
{
	font: 48px BRUSH SCRIPT MT;
	color: #563838;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 200px;
	white-space: nowrap;
}

#register_wrap input
{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    outline:none;
}

#register_wrap form
{
	display: flex;
    flex-direction: column;
    align-items: center;
}


#register_btm
{
	margin-top: 10px;
    width: 120px;
    height: 50px;
    font: 20px sans-serif;
    color: grey;
    border-radius: 5px;
    align-self: center;
}

#register_wrap p
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: red;
    white-space: nowrap;
    margin-top: 5px;
}

.valid
{
	box-shadow: 0 0 10px rgba(42, 222, 31, 0.98);
}

.unvalid
{
	box-shadow: 0 0 10px rgb(241, 15, 15);
}

#register_wrap input
{
	transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

#register_wrap input:focus
{
	width: 300px;
}

#register_wrap a
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #563838;
    white-space: nowrap;
    margin-top: 10px;
}

#photo_wrap
{
	display: flex;
	justify-content: space-between;
}

#filter_section
{
	background-color: #c3c3c32b;
	border-radius: 10px;
	width: 48%;
	height: 80vmin;
	margin: 5px;
}

#photo_section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #c3c3c32b;
	border-radius: 10px;
	width: 72vmin;
	height: 82vmin;
	margin: 5px;
}

/*#camera_wrap
{
	width: 90%;
}*/

#player
{
	width: 64vmin;
	height: 48vmin;
    margin-top: 20px;
    background-color: grey;
    border-radius: 7px;
    transform: scaleX(-1);
}

#target
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64vmin;
    height: 48vmin;
    background-color: grey;
    border-radius: 7px;
    margin-top: 20px;
}

#downloaded_img
{
	width: 64vmin;
    height: 48vmin;
    background-color: grey;
    border-radius: 7px;
    margin-top: 20px;
}

#target p
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #c7c7c7;
}

#previev_section
{
	width: 90%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.previev_box
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 32vmin;
    height: 24vmin;
	background-color: grey;
	border-radius: 5px;
}

.previev_box p
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #c7c7c7;
}

#previev_img
{
	width: 32vmin;
    height: 24vmin;
	border-radius: 5px;
}

#overlay
{
	width: 64vmin;
	height: 48vmin;
	position: absolute;
	margin-top: 20px;
	z-index: 1;
	border-radius: 10px;
}

#canvas
{
	display: none;
}


#previev_section button
{
	margin-top: 10px;
    width: 120px;
    height: 50px;
    font: 20px sans-serif;
    color: #101010;
    border-radius: 5px;
    align-self: center;
}

#previev_btn
{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

#filter_section
{
	padding: 10px;
}

#filter_section img
{
	width: 16vmin;
	height: 12vmin;
	padding: 5px;
	/*max-width: 220px;*/
}

.selected_filter
{
	box-shadow: 0 0 10px #65a061fa;
}

.photo img
{
	width: 320px;
    height: 240px;
	border-radius: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.photo
{
	width: 320px;
    height: 240px;
	border-radius: 5px;
}

.like_btn
{
	position: relative;
    top: -40px;
    left: 280px;
    font-size: 30px;
    color: #694e4e73;
}

.liked
{
    color: #ff2c2cb0;
}

.g_item
{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.g_item button
{
	font: 20px sans-serif;
    color: grey;
    border-radius: 5px;
    align-self: center;
    margin-right: 5px;
}


.galery
{
	width: 80%;
    margin: 0 auto;
}

.coments_wrap
{
	width: 70%;
	margin-left: 7%;
}

.comments
{
	margin-bottom: 5px;
	overflow: hidden;
    max-height: 204px;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.comment
{
	/*border: 1px solid grey;*/
	margin-bottom: 5px;
}

.c_deployed
{
	max-height: none;
}

.c_input
{
	display: flex;
	margin-top: 5px;
	/*border:solid 1px grey;*/
}

.i_deployed
{
	display: none;
}

.c_input textarea
{
	width: 60%
}

.c_input button
{
	margin-left: 10px;
}

.pagination
{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pagination a
{
	font: 21px/30px FontAwesome;
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    /*opacity: 0.5;*/
    /*cursor: default;*/
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination .current
{
	width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    border: solid #7d7d7d 2px;
}

.author
{
	font: 16px sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.none
{
	display: none !important;
}

.disabled
{
	opacity: 0.5;
}

.load_more
{
	display: flex;
	justify-content: center;
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.load_more p
{
	background-color: #dedede;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.users_data
{
	display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
    width: 90%;
    font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.users_data input
{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    outline:none;
}

.users_data button
{
	margin-top: 10px;
    width: 120px;
    height: 40px;
    font: 20px sans-serif;
    color: #101010;
    border-radius: 5px;
    align-self: center;
}

.users_data form
{
	margin-top: 20px;
}

#comments_on_email
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

#comments_on_email input
{
	margin-top: 0px;
	margin-left: 15px;
    font-size: 16px;
    padding: 10px;
    border-radius: 7px;
    outline:none;
}

.error_text
{
	font-family: "Open Sans", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: red;
    margin-top: 10px;
    margin-left: 30px;
}

/*^*/
/*|*/
/*|*/
/*|*/
/*добавлять сюды */

@media only screen and (max-width: 800px)
{
.coments_wrap 
{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.g_item
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#header h1 {
    font: 30px BRUSH SCRIPT MT;
    color: #563838;
    margin-top: 10px;
     margin-left: 5px; 
    margin-right: 20px;
}

#header {
    width: 100%;
    height: 60px;
    background-color: #3e3a3a78;
    border-radius: 0 0 10px 10px;
}

.users_data
{
	margin-left: 0px;
}

#save_picture_btn
{
	margin-bottom: 10px;
}

#previev_btn button
{
	font-size: 3vw;
}

#photo_section
{
	padding-bottom: 10px;
}

#target p
{
	font-size: 3vw;
	margin-left: 20px;
	margin-right: 10px;
}

#file_input
{
	margin-left: 20px;
	margin-top: 10px;
}


}

@media only screen and (max-width: 1300px)
{

#photo_wrap
{
	flex-direction: column;
}

#filter_section
{
	width: 97%;
	height: 46vmin;
}

#photo_section
{
	width: 94vmin;
}
}

